%h1= @catalogue_section.name
%ul
  - @catalogue_section.products.try(:each) do |product|
    %li
      = image_tag(product.product_images.first.image.small) unless product.product_images.empty?
      = link_to product.name, catalog_product_path(current_locale, @catalogue_section, product)
