%span.CartItems
  %span.qty
    = link_to cart_path do
      Товары в корзине:
      = @cart.quantity.to_s
      .small шт.
      %br/
      %br/
      На сумму:
      = @cart.price.to_s
      .small руб.