- content_for :head do
  %title Новости - Аквамаркет, г.Воронеж
  %meta{name:"keywords", content:"фильтры для очистки воды кулеры аквафор гейзер барьер воронеж водоподготовка"}
  %meta{name:"description", content:"фильтры для очистки воды кулеры аквафор гейзер барьер воронеж водоподготовка"}
%h1 Новости
- @news.each do |news_item|
  = link_to news_item.title, news_item
  %br/