- content_for :head do
  %title Заказ успешно оформлен
%h1 Заказ успешно оформлен
%p Спасибо, что выбрали нашу компанию!
%p В ближайщее время нащ менеджер свяжется с Вами, чтобы обсудить варианты доставки товара!
%p= link_to 'Кликните здесь для того чтобы просмотреть и распечатать счет', print_order_path(@order.id)