- content_for :head do
  %title Поиск товаров
  %meta{name:"keywords", content:"поиск фильтров кулеров для воды в воронеже"}
  %meta{name:"description", content:"поиск фильтров кулеров воды в воронеже"}
%h1= @products == [] ? 'К сожалению, ничего не найдено' : 'Найдены следующие товары:'
= render partial: 'products/products', locals: {products: @products}